

<div class="container mt-4">
  <h2 class="mb-4">Stock Data</h2>
  <!-- <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Name</th>
        <th scope="col">Is ETF</th>
        <th scope="col">Exchange</th>
      </tr>
    </thead>
    <tbody>
      @for (alto of informacia; track alto.ticker) {
      <tr>
        <td>{{ alto.ticker }}</td>
        <td>{{ alto.name }}</td>
        <td>{{ alto.is_etf === null ? "N/A" : alto.is_etf }}</td>
        <td>{{ alto.exchange }}</td>
      </tr>
      }
    </tbody>
  </table> -->
</div>
<nav>
  <ul>
    <li><a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">users</a> </li>
      <li><a routerLink="/orders" routerLinkActive="active" ariaCurrentWhenActive="page">orders</a> </li>

  </ul>
</nav>
<router-outlet></router-outlet>